@<SCOPE>:registry=https://trialtoh1md.jfrog.io/artifactory/api/npm/jfrog-test-npm/
//trialtoh1md.jfrog.io/artifactory/api/npm/jfrog-test-npm/:_authToken=cmVmdGtuOjAxOjE3NzE5NDM5MTc6MWhGTlg0ajk0UnlnM28xVGM1cnFJMms4Y1NE
//trialtoh1md.jfrog.io/artifactory/api/npm/jfrog-test-npm/:email=jherrera@bluecorela.com
//trialtoh1md.jfrog.io/artifactory/api/npm/jfrog-test-npm/:always-auth=true